mixin apartments-cards()
    ul.list.apartments-cards__list
        each elem in [1, 2, 3, 4, 5, 6]
            li.apartments-cards__item  
                .apartments-cards__container
                    a(href="apartments-card.html")
                        picture 
                            source(srcset=`img/card_cat${elem}.jpg 270w, img/card_cat${elem}_large.jpg 324w, img/card_cat${elem}_medium.jpg 290w` sizes="(min-width: 1200px) 270px, (min-width: 768px) 324px, (min-width: 320px) 290px")
                            img.apartments-cards__pic(src=`img/card_cat${elem}.jpg`, alt=`card cat${elem}`) 
                    .apartments-cards__info 
                        .apartments-cards__text
                            h3.apartments-cards__heading Эконом 
                            span Размеры (ШхГхВ) - 90х70х180 см
                            span Площадь - 0,63 м2
                            .apartments-cards__icons
                                span Оснащение номера 
                                each icon in [["bed", "Лежак"], ["scratching_post", "Когтеточка"], ["gameroom", "Игровая комната"], ["house", "Домик"]]
                                    span.icons(class=`--${icon[0]}-icon`)
                                        span.helper(class=`${icon[0]}-helper`)=icon[1]
                            span Цена за сутки:<span class="text_weight_bold"> 100₽</span>
                        form.apartments-cards__redirect(action="apartments-card.html")
                            button.apartments-cards__btn.btn.btn_c_orange(type="submit") 
                                span Забронировать
                                span   